body{
  background-color: orange;
  font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-tap-highlight-color: transparent;
}
.visor{
  width: 420px;
  height: 40vh;
  margin: 10px auto;
  background-color: #ff8c00;
  display: grid;
  grid-template-areas:
    'header header header '
    'main main main '
    'footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.titulo {
  margin: auto;
}
.titulo > span{
  border-radius: 5px;
  cursor: pointer;
}
.bg-laranja {
  background-color: orange;
  font-weight: bold;
}

.temporizador{
  margin: auto;
  margin-bottom: 35px;
}
.label{
  line-height: 0.9;
  font-weight: bold;
  font-size: 120px;
}
.btn-group{
  
}
.titulo { grid-area: header; }
.temporizador { grid-area: main; }
.btn-group { grid-area: footer; }

.menu { 
  grid-area: header;
  position: relative;
}
.logotipo{
   background-color: #ff8c00;

 }

.config{
  text-align: right;
}
.config > span{
}
.right {
  position: absolute;
  right: 0px;
}

.visor { grid-area: main; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.version{
  text-align: center;
}
.container {
  display: grid;
  grid-template-areas:
    'header header header '
    'main main main '
    'footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  width: 500px;
}